.row{
    margin-left: 20px;
    margin-bottom: 20px;
}
.movieRow{
    display: flex;
    /* for scroll x axis */
    overflow-x: scroll;


}
.movies{
    width: 100%;
    object-fit: contain;
    height: 350px;
    border-radius: 15px;
}
.movies:hover{
   transform: scale(1.1);
   transition: 1s ease-out;
   
}

::-webkit-scrollbar{
    display: none;
}